body{
    background-color: #fff;
}

.page-container{
  width: 100%;
  padding-bottom: 1.17rem;
  .top-bg{
    img{
      width: 100%;
    }
  }
  .main-box{
    background:rgba(255,255,255,1);
    margin-top: 0.3rem;
    .form-wrap{
      .form-item{
        margin: 0 0.6rem;
        height: 1.12rem;
        border-bottom: 0.01rem solid #DCE1E8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
          font-size:0.32rem;
          font-family:PingFangSC;
          color:#333;
          border: none;
        }
      }
    }
    .oprate-box{
      margin-top: 0.9rem;
      text-align: center;
      button{
        width: 6.30rem;
        height: 0.98rem;
        line-height: 0.98rem;
        border-radius:1rem;
        font-size:0.36rem;
        font-family:PingFangSC;
        font-weight:Semibold;
        color:rgba(255,255,255,1);
        text-align: center;
        &.login-btn{
            background-color: #68A9FD;
            margin-bottom: 0.3rem;
        }
        &.register-btn{
            background-color: #FF742F;
        }
      }
    }
    .loginbythird{
        margin-top: 1.1rem;
        .tips{
          text-align: center;
          font-size:0.24rem;
          font-family:PingFangSC;
          font-weight:400;
          color:rgba(98,98,98,1);
          line-height:0.24rem;
        }
        .login-ways{
          margin-top: 0.5rem;
          display: flex;
          justify-content: center;
          li{
            img{
              width: 0.7rem;
              height: 0.7rem;
            }
            &:nth-child(1),
            &:nth-child(2){
              margin-right: 1rem;
            }
          }
        }
    }
  }
}
