html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.page-container {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  padding-top: 0.6rem;
}
.page-container .succ-icon img {
  width: 1.80rem;
  height: 1.80rem;
}
.page-container .title {
  font-size: 0.40rem;
  font-family: PingFangSC;
  font-weight: 600;
  color: #222222;
  line-height: 0.40rem;
  margin-top: 0.6rem;
  margin-bottom: 0.24rem;
}
.page-container .tips {
  text-align: left;
  font-size: 0.28rem;
  font-family: PingFangSC;
  font-weight: 400;
  color: #666666;
  line-height: 0.40rem;
  padding: 0 0.55rem;
}
.page-container .tips2 {
  text-align: left;
  font-size: 0.28rem;
  font-family: PingFangSC;
  font-weight: 400;
  color: #666666;
  line-height: 0.40rem;
  margin-top: 1.2rem;
  padding: 0 0.55rem;
}
.page-container .footer {
  position: fixed;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
}
.page-container .footer .download-btn {
  display: inline-block;
  width: 4rem;
  height: 0.90rem;
  line-height: 0.90rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.32rem;
  background: #68a9fd;
  color: white;
  border-radius: 1rem;
  text-decoration: none;
}
.page-container .footer .bottom-tips {
  margin: 0.4rem 0 0;
  width: 100%;
  text-align: left;
  padding: 0 1.25rem;
  font-size: 0.28rem;
  font-family: PingFangSC;
  font-weight: 400;
  color: #444444;
  line-height: 0.40rem;
}
