body{
  background-color: #fff;
}

.page-container{
  width: 100%;
  .header-wrap{
    width: 100%;
    height: 0.86rem;
    .header-box{
      width: 100%;
      height: 0.86rem;
      padding: 0 0.32rem;
      background-color: #fff;
      .inner-box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
          &.arrow-icon{
            width: 0.2rem;
            height: 0.3rem;
            background-image: url('../img/nav_icon_back.png');
            background-size: 0.2rem 0.3rem;
            background-repeat: no-repeat;
          }
        }
        .middle{
          flex: 1;
          .top-nav{
            display: flex;
            justify-content: center;
            li{
              width: 1.44rem;
              font-size: 0.36rem;
              font-family:PingFangSC;
              font-weight:500;
              line-height:0.5rem;
              position: relative;
              text-align: center;
              margin: 0 0.40rem;
              a{
                display: block;
                color:#999;
                text-decoration: none;
              }
              &.active{
                a{
                  color:#333;
                }
                &::after{
                  content: '';
                  position: absolute;
                  left: 50%;
                  bottom: -0.10rem;
                  transform: translateX(-50%);
                  width:0.30rem;
                  height:0.06rem;
                  background:rgba(71,174,254,1);
                  border-radius:0.04rem;
                }
              }
            }
          }
        }
        .right{
          width: 0.4rem;
          height: 0.08rem;
          background-image: url('../img/nav_icon_more.png');
          background-size: 0.4rem 0.08rem;
          background-repeat: no-repeat;
        }
      }
    }
    &.fixed{
      .header-box{
        position: fixed;
        left: 0;
        top:0;
      }
    }
  }
  .base-info{
    display: flex;
    justify-content: space-between;
    padding: 0.14rem 0.24rem;
    background-color: #F2F2F2;
    font-size:0.24rem;
    font-family:PingFangSC;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:0.33rem;
    .time{}
    .total-score{
      color: #666666;
      span{
        color: #333;
        margin-left: 0.2rem;
      }
    }
  }
  .detail-list{
    .list-item{
      padding: 0.44rem 0 0 0.32rem;
      display: flex;
      .left{
        width:1.10rem;
        height:1.54rem;
        img{
          width: 100%;
          height: 100%;
        }
        &.word{
          background-color: #8A9199;
          display: flex;
          justify-content: center;
          align-items: center;
          .name{
            font-size:0.48rem;
            font-family:PingFangSC;
            font-weight:600;
            color:rgba(255,255,255,1);
            line-height:0.67rem;
          }
        }
      }
      .right{
        display: flex;
        width: 5.72rem;
        margin-left: 0.36rem;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 0.44rem;
        .middle{
          width: 3.9rem;
          h2{
            font-size:0.40rem;
            font-family:PingFangSC;
            font-weight:500;
            color:rgba(71,174,254,1);
            line-height:0.56rem;
            display: flex;
            align-items: center;
            margin: 0;
            .class_name,
            .room{
              font-size:0.24rem;
              font-family:PingFangSC;
              font-weight:500;
              color:rgba(102,102,102,1);
              line-height:0.33rem;
              margin-left: 0.2rem;
            }
          }
          .info{
            background-color: #eee;
            padding: 0.12rem 0.16rem;
            font-family:PingFangSC;
            font-weight:500;
            line-height:0.33rem;
            margin-top: 0.14rem;
            h3{
              color:#333;
              font-size:0.24rem;
              font-family:PingFangSC;
              font-weight:500;
              line-height:0.33rem;
              margin: 0;
            }
            p{
              font-size:0.24rem;
              margin-top: 0.08rem;
              margin-bottom: 0;
              color:#666;
              word-break:break-all;
            }
          }
          .other{
            margin-top: 0.12rem;
            span{
              font-size:0.20rem;
              font-family:PingFangSC;
              font-weight:400;
              color:rgba(153,153,153,1);
              line-height:0.28rem;
              margin-right: 0.28rem;
            }
          }
        }
        .label{
          margin-left: 0.34rem;
          margin-top: 0.7rem;
          width:0.84rem;
          height:0.40rem;
          line-height:0.40rem;
          text-align: center;
          font-size:0.28rem;
          font-family:PingFangSC;
          font-weight:400;
          line-height:0.40rem;
          &.praise{
            color:rgba(254,138,2,1);
            background:rgba(255,238,199,1);
            border:1px solid rgba(255,176,0,1);
          }
          &.criticism{
            background:rgba(229,227,227,1);
            border:1px solid rgba(109,114,120,1);
            color:rgba(109,114,120,1);
          }
        }
        .score{
          margin-left: 0.34rem;
          margin-top: 0.48rem;
          font-family:PingFangSC;
          font-weight:600;
          strong{
            font-size:0.48rem;
            line-height:0.67rem;
            &.plus{
              color: #47AEFE;
            }
            &.reduce{
              color: #FF4545;
            }
          }
          span{
            font-size:0.24rem;
            color:#333333;
            line-height:0.33rem;
          }
        }
      }
    }
    .nodataTips{
      padding: 0.3rem 0.1rem;
      text-align: center;
      font-size:0.24rem;
      font-family:PingFangSC;
      font-weight:400;
      color:rgba(102,102,102,1);
      line-height:0.33rem;
    }
  }
}

.query-modal-wrap{
  display: none;
  position: fixed;
  left: 0;
  top:0.86rem;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.3);
  .query-modal-box{
    padding: 0 0.32rem 0.5rem;
    background-color: #fff;
    height: 10.06rem;
    overflow-y: auto;
    .item-box{
      margin-top: 0.68rem;
      &:first-child{
        margin-top: 0.58rem;
      }
      .title{
        font-size:0.34rem;
        font-family:PingFangSC;
        font-weight:600;
        color:rgba(51,51,51,1);
        line-height:0.48rem;
        margin-bottom: 0.36rem;
      }
      .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size:0.28rem;
        font-family:PingFangSC;
        font-weight:400;
        color:rgba(153,153,153,1);
        &:nth-of-type(2){
          margin-top: 0.4rem;
        }
        .line{
          width:0.77rem;
          height:0.4rem;
          font-size:0.28rem;
          font-family:PingFangSC;
          font-weight:500;
          color:rgba(153,153,153,1);
          line-height:0.40rem;
          text-align: center;
        }
        .stime,
        .etime{
          width: 3rem;
          height: 0.8rem;
          line-height: 0.83rem;
          position: relative;
          padding-left: 0.96rem;
          background:rgba(248,248,248,1);
          border-radius:0.10rem;
          &::before{
            position: absolute;
            top:50%;
            left: 0.34rem;
            transform: translateY(-50%);
            content: "";
            width: 0.44rem;
            height: 0.44rem;
            background-image: url('../img/filter_icon_date.png');
            background-size: 0.44rem 0.44rem;
            background-repeat: no-repeat;
          }
          &.selected{
            background-color: #E9F5FF;
            color: #47AEFE;
          }
        }
        .select-item{
          width: 2.18rem;
          height: 0.8rem;
          line-height: 0.8rem;
          text-align: center;
          position: relative;
          background:rgba(248,248,248,1);
          border-radius:0.10rem;
          color: #999;
          &.selected{
            background-color: #E9F5FF;
            color: #47AEFE;
            &::before{
              position: absolute;
              right: 0;
              top:0;
              content: "";
              width: 0.62rem;
              height: 0.50rem;
              background-image: url('../img/filter_icon_selected.png');
              background-size: 0.62rem 0.50rem;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
    .operate{
      margin-top: 0.8rem;
      .query-btn{
        width:100%;
        height:0.9rem;
        line-height:0.9rem;
        text-align: center;
        background:rgba(71,174,254,1);
        border-radius:0.10rem;
        font-size:0.32rem;
        font-family:PingFangSC;
        font-weight:400;
        color:rgba(255,255,255,1);
        border: none;
        padding: 0;
      }
    }
  }
}
